src/wowrn_scraper/__pycache__/*
src/wowrn_scraper/domain/__pycache__/*
src/wowrn_scraper/infrastructure/__pycache__/*
src/wowrn_scraper/application/__pycache__/*
src/wowrn_scraper/data/*
Interface/Addons/WOWRN/Data.lua